<launch>
    <arg name="system_id" default="$(optenv MMPUG_SYSTEM_ID default_id_basestation)" />
    <arg name="tf_prefix"     default="$(arg system_id)_" />
    <arg name="namespace"     default="/$(arg system_id)" />
    <arg name="output"        default="screen" />

    <arg name="launch_cameras" default="true" />
    <arg name="launch_joy" default="true" />

    <group ns="$(arg namespace)">
        <include file="$(find mmpug_drivers_core)/launch/2joys.launch" if="$(arg launch_joy)">
            <arg name="output" value="$(arg output)" />
        </include>
    </group>
    <!-- need to add video streaming things -->
</launch>
