<launch>
    <arg name="system_id"     default="$(optenv MMPUG_SYSTEM_ID rc1)" />
    <arg name="payload_serial" default="$(optenv MMPUG_PAYLOAD_SERIAL generic-payload)" />
    <arg name="tf_prefix"     default="$(arg system_id)_" />
    <arg name="namespace"     default="/$(arg system_id)" />
    <arg name="output"        default="screen" />

    <arg name="launch_imu" default="true" />
    <arg name="launch_flir" default="false" />
    <arg name="launch_cameras" default="true" />
    <arg name="launch_velodyne" default="true" />
    <arg name="launch_joy" default="true" />
    <arg name="launch_ardupilot" default="false" />
    <arg name="use_nvargus" default="false" />

    <arg name="cameras_to_stream" default="[0, 1, 2, 3]" if="$(eval payload_serial != 'mmpug-pt-007' and not use_nvargus)" />
    <arg name="cameras_to_stream" default="[0, 1, 2, 3, 4, 5]" if="$(eval payload_serial == 'mmpug-pt-007' and not use_nvargus)" />
    <arg name="cameras_to_stream" default="[0]" if="$(arg use_nvargus)" />

    
    <group ns="$(arg namespace)">
        <include file="$(find epson_imu_driver)/launch/epson_g365_rotated.launch" if="$(arg launch_imu)" />
        
        <include file="$(find flir_ros)/launch/flir_ros.launch" if="$(arg launch_flir)">
            <arg name="output" value="$(arg output)" />
        </include>

        <include file="$(find mmpug_drivers_core)/launch/cameras/stream_all_cameras.launch" if="$(arg launch_cameras)">
            <arg name="output" value="$(arg output)" />
            <arg name="stream_ids" value="$(arg cameras_to_stream)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
        </include>

        <include file="$(find velodyne_launch)/launch/velodyne.launch" if="$(arg launch_velodyne)">
            <arg name="output" value="$(arg output)" />
            <arg name="frame_id" value="$(arg tf_prefix)velodyne" />
        </include>
    </group>

</launch>
